@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');


body, * {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}


html { scroll-behavior: smooth; }

/* Text Styling */

h1,h2,h3,h4,h5,h6 {
    font-family: 'DM Serif Display', serif;
    font-weight: lighter;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 10;
}

h1 {
    font-size: 72px;
    font-style: italic;
}

h2 {
    font-size: 52px;
    font-style: italic;
}

h3 {
    font-size: 34px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 20px;
}

p.body-one {
    font-size: 18px;
}

p.body-two {
    font-size: 28px;
}


/* Button Styling */

.outlined-button {
    background: #fff;
    padding:12px 16px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
    color: #262626;
    display: inline-block;
    border:3px solid #262626;
    transition: all .3s ease;
}

.outlined-button:hover {
    color: #7462E1;
    border-color: #7462E1;
}

.filled-button {
    background: #7462E1;
    padding:14px 30px;
    font-weight: bold;
    font-size: 18px;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    transition: all .3s ease;
}

.filled-button:hover {
    color: #fff;
    background: #262626;
}

/* Animation Styling */

@keyframes pulse-purple {
    0% {
      box-shadow: 0 0 0 0px #302C4B;
    }
    100% {
      box-shadow: 0 0 0 16px #302C4B;
    }
  }

  @keyframes pulse-pink {
    0% {
      box-shadow: 0 0 0 0px #402934;
    }
    100% {
      box-shadow: 0 0 0 16px #402934;
    }
  }

/* Desktop Navigation Styling */

.fixed-nav #navigation {
    position: fixed;
    width: 100%;
    z-index: 100;
    background: #fff;
}

.desktop-navigation {
    display: flex;
    max-width: 1236px;
    background: #fff;
    margin: 0 auto;
    align-items: center;
    padding: 16px 0;
    justify-content: space-between;
    border-bottom: 1px solid #E7E7E7;
}

.desktop-navigation ul li {
    display: inline-block;
}

.desktop-navigation ul li a {
    color: #262626;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    padding: 18px 0;
    margin: 0 16px;
    font-size: 20px;
    transition: all .3s ease;
}

.desktop-navigation ul li a:hover {
    color: #7462E1;
}

/* Mobile Navigation Styling */

.mobile-navigation {
    width: 90%;
    background: #fff;
    margin: 0 auto;
    position: relative;
    text-align: center;
    display: none;
    justify-content: space-between;
    padding: 30px 0;
    justify-content: space-between;
    border-bottom: 1px solid #E7E7E7;
}

.mobile-navigation ul {
    position: absolute;
    width: 100%;
    background: #fff;
    border-radius: 0 0 8px 8px;
    padding: 20px 0;
    top: 90px;
    display: none;
}

.mobile-navigation ul li {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.mobile-navigation ul li a {
    color: #262626;
    font-family: 'DM Serif Display', serif;
    padding: 18px 0;
    width: 100%;
    font-style: italic;
    font-weight: lighter;
    font-size: 30px;
    display: block;
    transition: all .3s ease;
}

.mobile-navigation ul li a:hover {
    color: #7462E1;
}

#menu-toggle {
    width: 46px;
    height: 46px;
    border-radius: 4px;
    background: #262626;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    color: #fff;
    font-size: 28px;
}

#menu-toggle i:nth-child(2) {
    display: none;
}


/* Hero Section Styling */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1236px;
    background: #fff;
    margin: 0 auto;
    color: #262626;
}

.hero-potrait {
    width: 56%;
    height: 578px;
}

.hero-potrait img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    width: 40%;
}

.hero-content a {
    margin-top: 20px;
}


/* Education Styling */

.education {
    background: #262626;
    color: #fff;
    padding: 80px 0;
    position: relative;
}

.education h2 {
    text-align: center;
}

.timeline {
    max-width: 1236px;
    margin: 100px auto 100px auto;
}

.timeline-info {
    border-radius: 8px;
    text-align: center;
    max-width: 484px;
    padding: 50px 0;
    position: relative;
}

.timeline-purple .timeline-info {
    background: rgb(116,98,225);
background: linear-gradient(180deg, rgba(116,98,225,1) 0%, rgba(97,78,216,1) 100%);
}

.timeline-info h4 {
    font-style: italic;
}

.timeline-info h4 {
    margin-top: 14px;
}

.timeline-info p {
    margin: 10px 0;
}


.timeline-right {
    right: -60%;
    position: relative;
}

.education .timeline .divider {
    position: absolute;
    height: 90%;
    width: 2px;
    margin-left: -1px;
    left: 50%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='10%2c 14' stroke-dashoffset='100' stroke-linecap='square'/%3e%3c/svg%3e");
    bottom: -14%;
    display: block;
}

.beep{
    width: 30px;
    display: block;
    height: 30px;
    position: absolute;
    border-radius: 100%;
    background: #7462E1;
}

.education .beep {
    animation: pulse-purple 1s infinite;
}

.education .timeline-left {
    margin-top: 100px;
}

.timeline-right .beep {
    left: -29%;
    top: 0;
    z-index: 10;
}

.timeline-left .beep {
    right: -31%;
    top: 0;
    z-index: 10;
}


/* Work Styling */

.work-experience {
    background: #262626;
    color: #fff;
    padding: 80px 0;
    position: relative;
}

.work-experience h2 {
    text-align: center;
}

.timeline {
    max-width: 1236px;
    margin: 100px auto 100px auto;
}

.timeline-info {
    border-radius: 8px;
    text-align: center;
    max-width: 484px;
    padding: 50px 0;
    position: relative;
}

.timeline-pink .timeline-info {
    background: rgb(176,40,106);
background: linear-gradient(0deg, rgba(176,40,106,1) 0%, rgba(230,50,137,1) 100%);
}

.timeline-info h4 {
    font-style: italic;
}

.timeline-info h4 {
    margin-top: 14px;
}

.timeline-info p {
    margin: 10px 0;
}


.timeline-right {
    right: -60%;
    position: relative;
}

.work-experience .timeline .divider {
    position: absolute;
    height: 82%;
    width: 2px;
    margin-left: -1px;
    left: 50%;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='10%2c 14' stroke-dashoffset='100' stroke-linecap='square'/%3e%3c/svg%3e");
    bottom: 0;
    display: block;
}

.work-experience .beep{
    width: 30px;
    display: block;
    height: 30px;
    position: absolute;
    border-radius: 100%;
    background: #E63289;
}

.work-experience .beep {
    animation: pulse-pink 1s infinite;
}

.work-experience .timeline-left {
    margin: 100px 0;
}

.timeline-right .beep {
    left: -29%;
    top: 0;
    z-index: 10;
}

.timeline-left .beep {
    right: -31%;
    top: 0;
    z-index: 10;
}


/* My Skills Styling */

.skills {
    background: #262626;
    color: #fff;
    padding: 80px 0;
    position: relative;
}

.skills h2 {
    text-align: center;
}

.work {
    max-width: 1236px;
    margin: 100px auto 100px auto;
}

.work-info {
    border:3px dashed #383845;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
    border-radius: 6px;
    margin-top: 80px;
}

.work-content {
    width: 48%;
}

.work-content h4 {
    font-style: italic;
    margin-bottom: 18px;
}

.skills-icon {
    width: 40%;
}

.skills-icon ul {
    display: flex;
    justify-content: space-between;
}

.skills-icon ul li {
    display: inline-block;
    background: #fff;
    width: 150px;
    height: auto;
    padding-top: 10px;
    margin-bottom: 16px;
    border-radius: 6px;
    text-align: center;
    color: #262626;
    line-height: 2.3em;
}

.skills-icon ul li img {
    width: 70px;
}

/* Portfolio Styling */

.portfolio {
    background: #262626;
    color: #fff;
    padding: 20px 0 100px 0;
    position: relative;
}

.portfolio h2 {
    text-align: center;
}

.portfolio a {
    font-size: 22px;
    color: #7462E1;
    font-style: italic;
    font-family: 'DM Serif Display', serif;
    transition: all .3s ease;
}

.portfolio a:hover {
    color: #fff;
}

.portfolio-piece {
    margin: 0 auto;
    max-width: 1236px;
    width: 90%;
    border:3px dashed #383845;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px;
    border-radius: 6px;
    margin-top: 80px;
}

.portfolio-content {
    width: 48%;
}

.portfolio h3 {
    font-style: italic;
    margin-bottom: 18px;

}

.skill-text {
    padding-bottom:1px;
}

.portfolio p {
    margin-bottom: 18px;
    line-height: 1.9em;
}

.portfolio-image {
    width: 40%;
}


/* Footer Styling */

.footer {
    background: #262626;
    color: #fff;
    padding: 20px 0 100px 0;
    position: relative;
    text-align: center;
}

.footer ul {
    margin: 40px 0;
}

.footer ul li a {
    color: #fff;
    font-family: 'DM Serif Display', serif;
    font-style: italic;
    padding: 18px 0;
    font-size: 20px;
    transition: all .3s ease;
}

.footer ul li a:hover {
    color: #7462E1;
}

.footer ul li {
    margin: 16px 0;
}

.footer img {
    width: 130px;
}

.footer p {
    margin-top: 30px;
    color: #5C5A6A;
}

/* Splash Screen Styling */

.remove-splash .splash-screen {
    opacity: 0;
    z-index: -10;
}

.splash-screen {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1000;
    transition: all .3s ease;
    transition-delay: 2s;
    background: #262626;
}

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -40px;
  }
  .lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #7462E1;
    animation: lds-grid 1.2s linear infinite;
  }
  .lds-grid div:nth-child(1) {
    top: 8px;
    left: 8px;
    animation-delay: 0s;
  }
  .lds-grid div:nth-child(2) {
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(3) {
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(4) {
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
  }
  .lds-grid div:nth-child(5) {
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(6) {
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(7) {
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
  }
  .lds-grid div:nth-child(8) {
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
  }
  .lds-grid div:nth-child(9) {
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
  }
  @keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }

/* Responsive Styling */

@media screen and (max-width:820px) {
    body{
        width: 100vw;
        overflow-x: hidden;
    }
    .desktop-navigation {
        display: none;
    }

    .mobile-navigation {
        display: flex;
    }

    .menu-toggle .mobile-navigation ul {
        display: block;
    }
    
    .menu-toggle .mobile-navigation #menu-toggle i:nth-child(1) {
        display: none;
    }

    .menu-toggle .mobile-navigation #menu-toggle i:nth-child(2) {
        display: block;
    }

    .hero {
        display: flex;
        flex-wrap: wrap;
        padding: 0 40px;
        width: 90%;
        margin: 0 auto;
    }
    
    .hero-potrait {
        width: 100%;
        height: 578px;
        order: 2;
    }

    .hero-content {
        width: 100%;
        order: 1;
        padding: 60px 0;
    }

    .timeline-right {
        right: 0%;
    }

    .timeline-info {
        z-index: 10;
       margin: 20px auto 100px auto;
    }

    .education .timeline .divider {
        position: absolute;
        height: 90%;
        width: 2px;
        margin-left: -1px;
        left: 50%;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23333' stroke-width='4' stroke-dasharray='10%2c 14' stroke-dashoffset='100' stroke-linecap='square'/%3e%3c/svg%3e");
        bottom: -14%;
        display: block;
        z-index: 1;
    }
    
    .timeline-right .beep {
        left: 48%;
        top: -58px;
    }

    .timeline-left .beep {
        left: 47%;
        top: -62px;
    }

    .work-experience .timeline-left {
       right: -18%;
    }

    .work-info {
        display: block;
        width: 80%;
        margin: 40px auto;
    }
    
    .work-content {
        width: 100%;
    }
    
    .skills-icon {
        width: 100%;
        margin-top: 30px;
    }

    .skills-icon ul li {
        width: 32%;
    }

    .portfolio-piece {
       display: block;
       width: 80%;
    }
    
    .portfolio-content {
        width: 100%;
    }
    
    .portfolio-image {
        width: 100%;
        margin-top: 50px;
    }

    .portfolio-image img {
        width: 100%;
    }
    
}

@media screen and (max-width:620px) {
    h1 {
        font-size: 52px;
        font-style: italic;
    }
    
    h2 {
        font-size: 42px;
        font-style: italic;
    }
    
    h3 {
        font-size: 30px;
    }
    
    h4 {
        font-size: 24px;
    }
    
    h5 {
        font-size: 18px;
    }
    
    p.body-one {
        font-size: 16px;
    }
    
    p.body-two {
        font-size: 24px;
    }

    .hero {
        padding: 0;
    }

    .work-info {
        width: 90%;
        padding: 30px 16px;
    }

    .work-experience .timeline-left {
        left: 0;
        margin: 40px auto 100px auto;
     }
    
     .timeline-info {
        width: 90%;
     }

     .portfolio-piece {
        width: 90%;
        padding: 30px 18px;
    }
}